.advantages {
  margin-top: -13px;
}

.advantages__header {
  padding-top: 0;

  color: $header-color;

  font-family: "Oswald", "Arial MT", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.advantages__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;

  margin-bottom: 26px;
  padding-left: 80px;


  &::before {
    position: absolute;
    top: -2px;
    left: 0;

    width: 60px;
    height: 60px;

    content: "";

    background-color: $btn-color;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
  }

  &--part {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
        background-repeat: no-repeat;
      }
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-repeat: no-repeat;
    }
  }

  &--food {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-repeat: no-repeat;
    }
  }

  &--month {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-top: -5px;
  }

  .adbvantages__header {
    margin-bottom: -5px;

    font-size: 60px;
  }

  .advantages__list {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 630px;
    padding-top: 50px;

    counter-reset: list1;
  }

  .advantages__item {
    display: inline-block;
    flex-shrink: 0;

    width: 246px;
    min-height: 272px;
    margin-top: 20px;
    padding: 0;
    padding-top: 120px;

    vertical-align: top;

    &::before {
      position: absolute;
      top: 7px;

      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      z-index: -1;
      top: -30px;
      right: 5px;

      content: counter(list1);
      counter-increment: list1;

      color: $background-block-color;

      font-family: "Oswald", "Arial MT", sans-serif;
      font-size: 281px;
      font-weight: 400;
      line-height: 281.07px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    flex-wrap: nowrap;

    width: auto;
  }

  .advantages {
    margin-top: 65px;
  }
}
