.button {
  display: inline-block;
  width: 100%;
  padding: 10px;

  color: $contrast-color;
  font-family: "Oswald", "Arial MT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;

  background-color: $btn-color;
  border: none;


  &:hover,
  &:focus {
    background-color: $btn-hvr-color;
  }

  &:active {
    color: $btn-act-text-color;
    background-color: $btn-act-color;
  }

  &--catalog,
  &--form {
    font-size: 16px;
    line-height: 20px;
  }

  &--to-all {
    color: $btn-all-text-color;
    background-color: $btn-all-color;

    &:hover,
    &:focus {
      background-color: $btn-all-hvr-color;
    }

    &:active {
      color: $btn-all-act-text-color;
      background-color: $btn-all-hvr-color;
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 245px;
    padding: 15px;

    font-size: 20px;
    line-height: 20px;

    &--catalog {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      line-height: 20px;
    }

    &--form {
      width: 283px;
      height: 52px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button--form {
    width: 568px;
    height: 52px;
  }
}
