.catalog-item {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-bottom: 20px;

  border-top: 1px solid $line-catalor-color;

  &--to-all {
    .catalog-item__wraper {
      flex-direction: column;
      align-items: center;
    }

    .catalog-item__title {
      margin-top: 25px;
      padding: 0;
    }

    .catalog-item__attributes {
      margin-top: 6px;
      margin-bottom: 22px;
    }

    .catalog-item__image {
      margin-top: 25px;
      min-height: 30px;
    }
  }
}

.catalog-item__title {
  margin: 0;
  margin-top: 20px;
  padding-right: 60px;
  color: $header-color;
  font-family: "Oswald", "Arial MT", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-item__wraper {
  display: flex;
}

.catalog-item__image-wraper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.catalog-item__image {
  min-height: 147.5px;
  order: -1;
}

.catalog-item__attributes {
  margin-top: 13px;
  font-size: 12px;
  line-height: 16px;
  border-collapse: collapse;

  td {
    padding: 0;
  }
}

.catalog-item__attributes-value {
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .catalog-item {
    align-items: flex-start;
    width: 324px;
    min-height: 430px;
    margin-top: 135px;
    margin-bottom: 6px;
    padding-top: 140px;
    padding-right: 38px;
    padding-left: 38px;

    background-color: $background-block-color;
    border: none;

    &--to-all {
      margin-top: 80px;

      border: 1px solid $line-catalor-color;
      background-color: $contrast-color;

      .catalog-item__attributes {
        width: 180px;
        margin-top: 30px;
        margin-bottom: 50px;
        text-align: center;
      }

      .catalog-item__image {
        position: static;
      }
    }
  }

  .catalog-item__wraper {
    position: relative;
    justify-content: center;
    width: 100%;
    margin-bottom: 35px;
  }

  .catalog-item__title {
    align-self: center;
    width: 150px;
    padding-right: 0;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .catalog-item__attributes {
    margin-top: 20px;

    td {
      padding-top: 8px;
      padding-bottom: 7px;
      border-bottom: 1px solid $line-program-color;
    }
  }

  .catalog-item__attributes,
  .catalog-item__attributes-value {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog-item__image {
    position: absolute;
    top: -230px;
  }

  .catalog-item__image-wraper {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    width: 245px;
    min-height: 430px;

    &--to-all {
      margin-top: 135px;
      padding-top: 85px;
    }
  }
}
