.catalog-item {
  border-bottom: 1px solid $line-catalor-color;
}

.catalog-item__title {
  color: $header-color;
  font-family: "Oswald", "Arial MT", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-item__attributes {
  line-height: 16px;
}
