.form {
  ul {
    list-style: none;
  }

  li {
    display: flex;
    align-items: baseline;
    margin-bottom: 14px;
  }

  label {
    flex-shrink: 0;

    padding-right: 15px;
    color: $label-color;
    font-family: "Oswald", "Arial MT", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    display: inline;
    width: 100%;
    height: 45px;
    padding: 14px;
    border: 1px solid $input-border-color;

    &:hover {
      border: 1px solid $input-radio-color;
    }

    &:focus,
    &:active {
      border: 2px solid $placeholder-color;
    }

    &::placeholder {
      color: $placeholder-color;
      font-family: "Oswald", "Arial MT", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
    }
  }

  textarea {
    display: block;
    height: 150px;
    padding-right: 10px;

    vertical-align: top;
    border: 1px solid $input-border-color;
  }
}

.form__cat {
  margin-top: 30px;
  padding-bottom: 7px;
  border-bottom: 1px solid $line-catalor-color;
}

.form__programm {
  margin-top: 25px;
  margin-bottom: 30px;
  border-bottom: 1px solid $line-catalor-color;

  li {
    margin-bottom: 25px;
  }

  label {
    position: relative;
    padding-left: 45px;

    &::before {
      position: absolute;
      top: -5px;
      left: 0;
      width: 30px;
      height: 30px;

      background-color: $contrast-color;
      border-radius: 50%;
      border: 1px solid $input-radio-color;
      content: "";
    }

    &:hover {
      &::before {
        border: 1px solid $input-radio-hvr-color;
      }
    }
  }
}

.form__radio:checked + label::after {
  position: absolute;
  top: 4px;
  left: 9px;
  width: 12px;
  height: 12px;

  background-color: $btn-color;
  border-radius: 50%;
  content: "";
}

.form__contacts {
  margin-top: 35px;
  margin-bottom: 25px;

  label {
    padding-right: 10px;
  }

  input[type="email"],
  input[type="tel"] {
    padding-right: 40px;
  }
}

.form__contats-input {
  &:focus,
  &:active {
    + svg {
      color: $btn-color;
    }
  }
}

.form__contats-item {
  position: relative;

  > svg {
    position: absolute;
    top: 15px;
    left: 246px;
    color: $label-color;
  }
}

.form__textarea-wraper {
  margin-top: 35px;
  margin-bottom: 30px;
}

.form__addons {
  margin-top: 40px;
  margin-bottom: 39px;

  li {
    margin-bottom: 25px;
  }

  label {
    position: relative;
    padding-left: 45px;

    &::before {
      position: absolute;
      top: -5px;
      left: 0;
      width: 30px;
      height: 30px;

      background-color: $contrast-color;
      border: 1px solid $input-radio-color;
      content: "";
    }

    &:hover {
      &::before {
        border: 1px solid $input-radio-hvr-color;
      }
    }
  }
}

.form__checkbox:checked + label::after {
  position: absolute;
  top: 0;
  left: 4px;
  width: 24px;
  height: 20px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  content: "";
}

.form__button-wraper {
  margin-bottom: 32px;

  p {
    margin-top: 20px;
    line-height: 16px;
    text-align: center;
  }
}
