.form__cat {
  margin-top: 30px;
  padding-bottom: 7px;
  border-bottom: 1px solid $line-catalor-color;
}

.form__programm {
  margin-top: 25px;
  margin-bottom: 30px;
  border-bottom: 1px solid $line-catalor-color;
}

.form__contacts {
  margin-top: 35px;
  margin-bottom: 25px;

  .input__label {
    padding-right: 10px;
  }

  .input__text {
    padding-right: 40px;
  }
}

.form__contats-input {
  &:focus,
  &:active {
    + svg {
      color: $btn-color;
    }
  }
}

.form__contats-item {
  position: relative;

  > svg {
    position: absolute;
    top: 15px;
    left: 246px;
    color: $label-color;
  }
}

.form__textarea-wraper {
  margin-top: 35px;
  margin-bottom: 30px;
}

.form__addons {
  margin-top: 40px;
  margin-bottom: 39px;
}

.form__button-wraper {
  margin-bottom: 32px;

  p {
    margin-top: 20px;
    line-height: 16px;
    text-align: center;
  }
}
