.layout-positioner {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .layout-positioner {
    width: $tablet-width;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .layout-positioner {
    width: $desktop-width;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}
