.page-footer {
  background-color: $background-block-color;
}

.page-footer__wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.page-footer__social {
  display: flex;
}

.page-footer__logo {
  width: 100%;
  height:: 100%;
  padding-top: 15px;
  padding-bottom: 25px;

  text-align: center;
  border-bottom: 1px solid $line-program-color;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;

  color: $content-text-color;
  font-size: 16px;
  line-height: 16px;

  &:hover,
  &:focus {
    .page-footer__copyright-logo {
      color: $btn-color;
    }
  }

  &:active {
    opacity: 0.3;

    .page-footer__copyright-logo {
      color: $btn-color;
    }
  }
}

.page-footer__copyright-logo {
  margin-right: -5px;
  color: $icon-color;
}

@media (min-width: $tablet-width) {
  .page-footer__wraper {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    min-height: 150px;
    padding-bottom: 5px;
  }

  .page-footer__logo {
    padding-top: 40px;

    text-align: left;
    border-bottom: none;
  }

  .page-footer__copyright {
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 25px;
  }

  .page-footer__copyright-title {
    padding-right: 12px;
  }


  .page-footer__copyright-logo {
    width: 45px;
    height: 45px;
    margin-right: -8px;
    padding-top: 5px;
  }
}
