.page-footer {
  background-color: $background-block-color;
}

.page-footer__wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-footer__social {
  display: flex;
}

.page-footer__logo {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 25px;

  text-align: center;
  border-bottom: 1px solid $line-program-color;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;

  color: $content-text-color;
  font-size: 16px;
  line-height: 16px;

  &:active {
    color: $btn-all-act-text-color;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wraper {
    flex-direction: row;
    justify-content: space-between;
    min-height: 150px;
    padding-bottom: 5px;
  }

  .page-footer__logo {
    padding: 0;

    text-align: left;
    border-bottom: none;
  }

  .page-footer__copyright {
    justify-content: flex-end;
  }
}
