.program {
  display: block;

  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 22px;

  background-color: $background-block-color;
}


.program__header {
  position: relative;

  margin: 10px 0 0 0;
  padding-left: 70px;

  text-transform: uppercase;

  color: $header-color;

  font-family: "Oswald", "Arial MT", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;

  &::before {
    position: absolute;
    top: -5px;
    left: 2px;

    width: 50px;
    height: 50px;

    content: "";

    border-radius: 50%;
    background-color: $btn-color;
  }

  &--slim {
    &::after {
      position: absolute;
      top: -8px;
      left: 2px;

      width: 50px;
      height: 50px;

      content: "";

      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--pro {
    &::after {
      position: absolute;
      top: -12px;
      left: -8px;

      width: 68px;
      height: 65px;

      content: "";

      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.program__content {
  margin-top: 30px;
  margin-bottom: 18px;
  padding-bottom: 20px;

  border-bottom: 1px solid $line-program-color;
}

.program__catalog {
  position: relative;

  display: inline-block;

  padding-right: 35px;

  vertical-align: middle;
  text-transform: uppercase;

  color: $header-color;

  font-family: "Oswald", "Arial MT", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  &:active {
    color: $program-link-act-color;
  }

  &::after {
    position: absolute;
    top: 3px;
    right: -1px;

    width: 25px;
    height: 12px;

    content: "";

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .program {
    margin-bottom: 30px;
    padding-top: 60px;
    padding-left: 50px;
  }

  .program__header {
    padding-right: 275px;
    padding-left: 0;

    font-size: 36px;

    &::before {
      position: absolute;
      top: 16px;
      left: 396px;

      width: 200px;
      height: 200px;
    }

    &--slim {
      &::after {
        position: absolute;
        top: 5px;
        left: 425px;

        width: 140px;
        height: 194px;
      }
    }

    &--pro {
      &::after {
        position: absolute;
        top: 61px;
        left: 360px;

        width: 268px;
        height: 112px;
      }
    }
  }

  .program__content {
    padding-right: 255px;

    border-bottom: none;
  }

  .program__header--pro + .program__content {
    padding-right: 295px;
  }

  .program__catalog {
    display: inline-block;

    max-width: 400px;
    margin-top: 12px;
    margin-bottom: 45px;
    padding-right: 50px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 570px;
    margin-bottom: 5px;
  }

  .program__header {
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 165px;

    &::before {
      position: absolute;
      top: -28px;
      left: 2px;

      width: 100px;
      height: 100px;
    }

    &--slim {
      &::after {
        position: absolute;
        top: -35px;
        left: 15px;

        width: 70px;
        height: 97px;
      }
    }

    &--pro {
      &::after {
        position: absolute;
        top: -5px;
        left: -15px;

        width: 134px;
        height: 56px;
      }
    }
  }

  .program__content {
    padding-right: 50px;
  }

  .program__header--pro + .program__content {
    padding-right: inherit;
  }

  .program__catalog {
    margin-top: 0;
  }
}
