.slogan {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 23px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: contain;
  }
}

.slogan__header {
  margin-top: 27px;
  margin-bottom: 25px;

  color: $contrast-color;
  font-family: "Oswald", "Arial MT", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.slogan__content {
  margin-bottom: 28px;

  color: $contrast-color;
  font-family: "Oswald", "Arial MT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .slogan {
    position: relative;
    width: 530px;
    min-height: 520px;
    padding: 0;
    margin-bottom: 320px;

    background-image: none;
  }

  .slogan__header {
    margin-top: 30px;
    padding: 0;
    color: $header-color;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;

    text-align: left;
  }

  .slogan__content {
    margin-top: 40px;
    margin-bottom: 50px;

    color: $header-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  .slogan__image {
    position: absolute;
    top: 230px;
    left: -90px;
    z-index: -1;
    min-width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .slogan {
    position: relative;
    left: -265px;
    min-height: 635px;
    margin-bottom: 5px;

    &::before {
      content: "";
      position: absolute;
      left: 530px;
      top: -135px;
      z-index: -2;
      width: 720px;
      height: 696px;

      background-color: $background-slogan;
      background-image: url("../img/index-background-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }

  .slogan__header {
    padding-top: 55px;

    font-size: 60px;
    line-height: 60px;
  }

  .slogan__content {
    margin-top: 40px;
    margin-bottom: 55px;
  }

  .slogan__image {
    top: 5px;
    left: 370px;
    overflow: visible;
    min-width: 552px;
    height: 499px;
  }
}
