.slogan {
  display: flex;
}

.slogan-wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 23px;
  padding: 0 20px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: contain;
  }
}

.slogan__header {
  margin-top: 27px;
  margin-bottom: 25px;

  text-align: center;

  color: $contrast-color;

  font-family: "Oswald", "Arial MT", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.slogan__content {
  margin-bottom: 28px;

  text-align: center;
  text-transform: uppercase;

  color: $contrast-color;

  font-family: "Oswald", "Arial MT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .slogan-wrapper {
    position: relative;

    width: 530px;
    min-height: 520px;
    margin-bottom: 320px;
    padding: 0;

    background-image: none;
  }

  .slogan__header {
    margin-top: 30px;
    padding: 0;

    text-align: left;

    color: $header-color;

    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }

  .slogan__content {
    margin-top: 40px;
    margin-bottom: 50px;

    text-align: left;

    color: $header-color;

    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  .slogan__image {
    position: absolute;
    z-index: -1;
    top: 230px;
    left: -90px;

    min-width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .slogan {
    position: relative;
  }

  .slogan-wrapper {
    left: -265px;

    min-height: 635px;
    margin-bottom: 5px;
  }

  .slogan__header {
    padding-top: 55px;

    font-size: 60px;
    line-height: 60px;
  }

  .slogan__content {
    margin-top: 40px;
    margin-bottom: 55px;
  }

  .slogan__image {
    top: 5px;
    left: 370px;

    overflow: visible;

    min-width: 552px;
    height: 499px;
  }
}
