.social {
  @include list-reset;

  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 15px;

  border-bottom: 1px solid $line-program-color;
}

.social__link {
  display: block;
  width: 22px;
  height: 22px;
  font-size: 0;
  color: $icon-color;

  svg {
    width: 22px;
    height: 12px;
  }

  &:hover,
  &:focus {
    color: $btn-color;
  }

  &:active {
    color: $btn-color;
    opacity: 0.3;
  }

  &--facebook {
    svg {
      width: 10px;
      height: 19px;
    }
  }

  &--instagram {
    margin-right: 35px;
    margin-left: 40px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

@media (min-width: $tablet-width) {
  .social {
    flex: 0 0 360px;
    border-bottom: none;
    align-items: center;
  }

  .social__link {
    margin-top: -20px;
    width: 30px;
    height: 30px;

    svg {
      width: 30px;
      height: 16px;
    }

    &--facebook {
      margin-top: -30px;

      svg {
        width: 14px;
        height: 28px;
      }
    }

    &--instagram {
      margin-right: 25px;
      margin-left: 25px;

      svg {
        width: 23px;
        height: 23px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    flex: 0 0 840px;
  }
}
