.social {
  @include list-reset;

  width: 100%;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid $line-program-color;
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 25px;

  font-size: 0;

  background-image: url("../img/icon-vk-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--facebook {
    background-image: url("../img/icon-fb-mobile.svg");
  }

  &--instagram {
    margin: 25px 30px 20px 30px;
    background-image: url("../img/icon-insta-mobile.svg");
  }
}

@media (min-width: $tablet-width) {
  .social {
    border-bottom: none;
  }
}
