.social {
  display: flex;
  justify-content: center;

  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;

  border-bottom: 1px solid $line-program-color;

  @include list-reset;
}

.social__link {
  display: block;

  width: 22px;
  height: 22px;

  color: $icon-color;

  font-size: 0;

  svg {
    width: 22px;
    height: 12px;
  }

  &:hover,
  &:focus {
    color: $btn-color;
  }

  &:active {
    opacity: 0.3;
    color: $btn-color;
  }

  &--facebook {
    svg {
      width: 10px;
      height: 19px;
    }
  }

  &--instagram {
    margin-right: 35px;
    margin-left: 40px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

@media (min-width: $tablet-width) {
  .social {
    align-items: center;
    flex: 0 0 360px;

    border-bottom: none;
  }

  .social__link {
    width: 30px;
    height: 30px;
    margin-top: -20px;

    svg {
      width: 30px;
      height: 16px;
    }

    &--facebook {
      margin-top: -30px;

      svg {
        width: 14px;
        height: 28px;
      }
    }

    &--instagram {
      margin-right: 25px;
      margin-left: 25px;

      svg {
        width: 23px;
        height: 23px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    flex: 0 0 840px;
  }
}
