$header-color: #111111;
$content-text-color: #444444;
$contrast-color: #ffffff;
$label-color: #222222;
$placeholder-color: #444444;
$input-radio-color: #cdcdcd;
$input-radio-hvr-color: #bababa;
$input-border-color: rgba(205, 205, 205, 0.5);
$input-border-color: rgba(205, 205, 205, 0.5);
$input-border-error-color: #ff8282;
$background-slogan: #65a93c;
$background-block-color: #f2f2f2;
$toggle-scale-color: #dcdcdc;
$toggle-scale-box-shadow: rgba(0, 0, 0, 0.15);
$toggle-scale-box-shadow-hvr: rgba(0, 0, 0, 0.25);
$toggle-scale-box-shadow-act: rgba(0, 0, 0, 0.3);
$btn-color: #68b738;
$btn-hvr-color: #5eaa2f;
$btn-act-color: #5eaa2f;
$btn-act-text-color: rgba(255, 255, 255, 0.3);
$btn-all-color: #f2f2f2;
$btn-all-text-color: #444444;
$btn-all-hvr-color: #ebebeb;
$btn-all-act-text-color: rgba(68, 68, 68, 0.3);
$line-catalor-color: #ebebeb;
$line-program-color: rgba(0, 0, 0, 0.1);
$program-link-act-color: rgba(17, 17, 17, 0.3);
$icon-color: #666666;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
