$header-color: #111111;
$content-text-color: #444444;
$contrast-color: #ffffff;
$background-slogan: #65a93c;
$background-block-color: #f2f2f2;
$btn-color: #68b738;
$btn-hvr-color: #5eaa2f;
$btn-act-color: #5eaa2f;
$btn-act-text-color: rgba(255, 255, 255, 0.3);
$btn-all-color: #f2f2f2;
$btn-all-text-color: #444444;
$btn-all-hvr-color: #ebebeb;
$btn-all-act-text-color: rgba(68, 68, 68, 0.3);
$line-catalor-color: #ebebeb;
$line-program-color: rgba(0, 0, 0, 0.1);
$program-link-act-color: rgba(17, 17, 17, 0.3);
$tablet-width: 768px;
$desktop-width: 1300px;
